---
import Layout from "@layouts/Layout.astro";
import { supabase } from "@lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}

const {email, id, created_at} = data.user
const {name, avatar} = data.user.user_metadata

var date = new Date(created_at);

const options = {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};

const joinDate = date.toLocaleDateString('en-US', options)


var topics =[
{
  title:'Festivals',
  img: 'https://storage.googleapis.com/smalltalk2/assets/Parties.png',
  link: '/speaking/test-1'
},
{
  title:'Environment',
  img: '',
  link: '/speaking/test-2'
},
{
  title:'Time Management',
  img: '',
  link: '/speaking/test-3'
},
{
  title:'Math',
  img: '',
  link: '/speaking/test-4'
},
{
  title:'Technology',
  img: '',
  link: '/speaking/test-5'
}

]
---
<Layout title="Dashboard">
<header class="py-2 px-4 w-full sticky top-0 flex items-center justify-between  bg-gray-800 shadow-xl z-10">
   <a href="/" class="mx-2 text-xl font-bold text-white">IELTS PRO</a>
   <div id="avatar-menu" class="relative inline-block">
   <img id="bar" src={avatar} class="mx-2 cursor-pointer w-10 h-10 rounded-full bg-white"> 
      <div id="menu-bar" class="hidden absolute mt-2 right-0 bg-white border border-gray-200 bg-gray-100 p-5 shadow rounded-lg z-10">
      <ul>
      <li class="text-xl font-medium">
      {name}
      </li>
      <li><small class=""><span class="text-blue-600">{email}</span></small></li>
      <li class="text-sm"><b>Joined:</b> {joinDate}</li>
      <li><form action="/api/auth/logout">
          <button class="text-white bg-rose-600 py-2 mt-3 px-5 rounded-2xl w-full font-medium" type="submit">Sign out</button>
        </form>
      </li>
      </ul>
       </div>
   <div>
 </header>
  
  <main class="container mx-auto px-4 mt-8 rounded-xl py-4 ">
   <h1 class="text-3xl font-bold text-center mb-6 pb-4">TOPICS</h1>
   <section class="container mx-auto px-4 grid grid-cols-1 sm:grid-cols-3 place-items-center gap-4">
      {
         topics.map((topic, index)=>(
          <a href={topic.link} class="relative bg-gray-100 rounded-xl p-6 shadow w-full mx-2 flex items-center">
          <p class="absolute top-2 px-3 rounded right-2 bg-blue-200 text-blue-600 font-bold">#Test {index+1}</p>
           <div class="text-xl font-bold">
             {topic.title}
            </div>
          </a>
         ))
      }
   </section>
  </main>
  
  
</Layout>


<script>

$('#bar').click(()=>{
  $('#menu-bar').toggleClass('hidden')
})

</script>


 
